{% extends 'base.html' %} {% block content %}
<div class="align-container">
    {% for image in images %}
    <div class="flex">
        <div class="img-container">
            <a href="{% url 'detail_image' pk=image.pk %}">
                <img src="{{ MEDIA_URL }}{{ image.picture }}">
                </a>
            <form class="img-like" data-likes="{{image.likes}}" data-id="{{image.id}}" action="{% url 'detail_image' pk=image.pk %}" method='POST'>
                {% csrf_token %}
                <button class="no-bg" type="submit"><i class="far fa-heart"></i>{{ image.likes }}</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}