{% extends 'base.html' %} {% block content %}

<div class="photographer">
    <img class="photographer-profile-picture" src="{{MEDIA_URL}}{{user.profile_picture}}">
    <span class="padding-space-img modify-span"> Photographer: {{ user.full_name }}</span>
</div>

<div class="button-flex">
    <a class="donate-link" href="{% url 'donate' %}">Donate</a>
    <form class="download-button">
    {% csrf_token %}
    <button class="button-style" type="submit"><i class="fas fa-download"></i></button>
</form>
</div>

    <div class="flex">
        <div class="img-container">
            <img src="{{ MEDIA_URL }}{{ image.picture }}">
        </div>
    </div>

<div class="button-flex">
    <span class="modify-span">{{ image.views }} views</span>
    <span class="modify-span">{{ image.likes }} likes</span>
</div>
{% endblock %}
