/*---------------body---------------*/
body {
  font-family: helvetica;
  margin: 0;
  
}


/*-----------------navigation bar-------------------*/
.bg {
    background-color: black;
    padding: 1rem 0.5rem 1rem 0rem;
    margin-bottom: 2.5rem;
}
.toggle {
  padding: 1rem 0.2rem 1rem 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.toggle a {
  color: white;
}
nav ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
nav ul a {
  color:white;
}
nav ul li a{
  padding: 0.5rem 0rem 0.5rem 0rem;
  line-height: 2.5;
}
a {
  color: black;
  text-decoration: none;
}


/*----------buttons and forms------------------*/
.img-like {
  position: relative;
  bottom: 3rem;
  right: 9rem;
}
.no-bg {
    background-color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    opacity: 0.5;
    transition: all .2s ease-in-out;
}
.no-bg:hover {
  color: red;
}


/*---------------images------------------*/
.button-flex {
  margin: 0.5rem;
}
.flex {
  max-width: 35rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0rem;
  width: 100%;
  height: auto;
}
img {
  max-width: 100%;
  max-height: auto;
}


/*---------------detail page------------------*/
.photographer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0.5rem 3rem 0.5rem;
}
.padding-space-img {
   padding-left: 0.5rem;
}
.modify-span {
    color: grey;
    font-size: 1rem;
}
.photographer-profile-picture {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.button-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.button-style {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  margin-left: 0.5rem;
  background-color: green;
  color: white;
}
.donate-link {
  color:white;
  background-color: green;
  border-radius: 25%;
  padding: 0.5rem;
}


/*------------------donate page-------------*/
.stripe-donate-plans-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0.5rem 5rem 0.5rem;
}
.stripe-donate-plans-forms-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
}
p {
  text-align: center;
}


/*----------------footer------------------*/
footer {
  color: white;
  background-color: black;
  padding: 2.5rem 0rem 2.5rem 0rem;
  width: 100%;
}

