/*---------------body---------------*/
body {
  font-family: helvetica;
  margin: 0;
}
select {
  border: 1px solid black;
  border-radius: 25px;
}



/*-----------------navigation bar-------------------*/
.bg {
  background-color: black;
  padding: 1rem 0.5rem 1rem 0rem;
  margin-bottom: 2.5rem;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-button {
  border: none;
  background-color: white;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 50%;
}
.search-input {
  border: none;
  border-radius: 15px;
  padding: 0.25rem;
  margin-left: 0.5rem;
  width: 7rem;
  height: 1.5rem;
}
.toggle {
  padding: 1rem 0.2rem 1rem 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.toggle a {
  color: white;
}
nav ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
nav ul a {
  color:white;
}
nav ul li a{
  padding: 0.5rem 0rem 0.5rem 0rem;
  line-height: 2.5;
}
a {
  color: black;
  text-decoration: none;
}



/*---------Hide Navigation Bar For Tablet And Desktop Design From Mobile Design---------*/
.bg-tablet-desktop {
  display: none;
}



/*----------buttons and forms------------------*/
.img-like {
  position: relative;
  bottom: 3rem;
  right: 9rem;
}
.no-bg {
    background-color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    opacity: 0.5;
    transition: all .2s ease-in-out;
}
.no-bg:hover {
  color: red;
}



/*----------profile page--------------*/
  .p-profile {
    margin: 1.5rem 1rem 1.5rem 1rem;
    color: black;
    font-size: 1.2rem;
  }
  .p-profile-edit {
    max-width: 6rem;
  }
  .p-profile-logout a, .p-profile-edit a {
    color: white;
  }
  .h2-profile {
    text-align: center;
    margin-top: 5rem;
  }
  .upload-form {
    margin: 2.5rem 0rem 2.5rem 0rem;
    text-align: center;
  }



/*--------------sign up page----------------*/
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: url("/static/img/abstract.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 15px;
  margin: 0.5rem;
  text-align: center;
}
.sign-up-button {
  border: none;
  background-color: green;
  border-radius: 15px;
  padding: 0.5rem;
  color: white;
  margin: 2rem;
  padding: 1rem;
  font-size: 1rem;
}
.center-form {
  text-align: center;
}
textarea {
  border-radius: 15px;
}
.helptext {
  visibility: hidden;
}
form ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}



/*---------reset pages----------------*/
.reset-button {
  border: none;
  border-radius: 15px;
  padding: 0.5rem;
  color: white;
  background-color: green;
  width: 10rem;
  margin: 1rem;
}
.margin-container {
  margin: 5rem 0.5rem 15rem 0.5rem;
}
.green {
  color: green;
}



/*---------login page---------------*/
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg-cl {
  background-image: url("/static/img/abstract.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 25px;
  margin: 5rem 0.5rem 15rem 0.5rem;
  padding: 5rem;
  text-align: center;
  width: 50%;
}
input {
  border-radius: 15px;
  width: 10rem;
  padding: 0.5rem;
}
label {
  font-size: 1em;
}
.white {
  color: white;
}
.login-button {
  border: none;
  border-radius: 15px;
  padding: 0.5rem;
  color: white;
  background-color: green;
  width: 4rem;
}



/*------------leaderboard page-------------------*/
.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1 {
  text-align: center;
  margin-bottom: 5rem;
}
.p-flex {
  display: flex;
  flex-direction: column;
}
.p-leaderboard {
  margin-left: 0.5rem;
}
.p-leaderboard-views {
  font-size: 0.85rem;
  margin-left: 0.5rem;
  color: grey;
}
.photographer-profile-picture-leaderboard {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
/*---------------images------------------*/
.button-flex {
  margin: 0.5rem;
}
.flex {
  max-width: 40rem;
  height: auto;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0rem;
  width: 100%;
  height: auto;
}
img {
  margin: 0;
  max-width: 100%;
  max-height: auto;
}

.flex-detail-page {
  max-width: 60rem;
}
.align-detail-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}



/*----------pagination----------*/
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  padding: 0;
}
.pagination li {
  color: black;
  padding: 1rem;
  transition: all .2s ease-out;
}
.pagination li:hover {
  background-color: grey;
}



/*------------Explore Pgae--------------------*/
.explore-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3;
}
.explore-page-container a {
  color: white;
}
.bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6, .bg-7, .bg-8, .bg-9 {
  margin: 0.15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  max-width: 40rem;
  text-align: center;
}
.bg-1 {
  background-image: url("/static/img/nature.jpg");
}
.bg-2 {
  background-image: url("/static/img/animals.jpg");
}
.bg-3 {
  background-image: url("/static/img/cars.jpg");
}
.bg-4 {
  background-image: url("/static/img/cities.jpg");
}
.bg-5 {
  background-image: url("/static/img/fitness.jpg");
}
.bg-6 {
  background-image: url("/static/img/motorcycles.jpg");
}
.bg-7 {
  background-image: url("/static/img/people.jpg");
}
.bg-8 {
  background-image: url("/static/img/space.jpg");
}
.bg-9 {
  background-image: url("/static/img/technology.jpg");
}



/*---------------detail page------------------*/
.photographer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0.5rem 3rem 0.5rem;
}
.padding-space-img {
   padding-left: 0.5rem;
}
.modify-span {
    color: grey;
    font-size: 1rem;
}
.photographer-profile-picture {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.button-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}
.button-style {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  margin-left: 0.5rem;
  background-color: green;
  color: white;
}
.donate-link {
  color:white;
  background-color: green;
  border-radius: 15px;
  padding: 0.5rem;
}



/*------------------donate page-------------*/
.stripe-donate-plans-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0.5rem 5rem 0.5rem;
}
.stripe-donate-plans-forms-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
}
p {
  text-align: center;
}



/*----------------profile page-------------------*/
.flex-profile {
  max-width: 60rem;
  margin: 0.5rem;
}
.profile-container {
  text-align: center;
}
.delete-button, .upload-button{
  border: none;
  color:white;
  border-radius: 15px;
  padding: 0.3rem;
  width: 5rem;
  margin-top: 0.3rem;
}
.delete-button {
  background-color: darkred;
}
.upload-button {
  background-color: green;
}



/*----------------footer------------------*/
footer {
  color: white;
  background-color: black;
  margin-top: 2.5rem;
  padding: 2.5rem 0rem 2.5rem 0rem;
  width: 100%;
}
footer i {
  margin-left: 1rem;
}



/*-----------------------------------Media Queries----------------------------------------*/
@media (min-width:768px) {
  
  
  
  /*--------------like button on image----------------*/
  .img-like {
    position: relative;
    bottom: 3rem;
    right: 22rem;
  }
  /*--------------Navigation------------------*/
   .align-container {
    margin-bottom: 2rem;
  }
  .bg {
    display: none;
  }
  .bg-tablet-desktop {
    display: flex;
    flex-direction: column-reverse;
    background-image: url("/static/img/art.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0.5rem 1rem 0rem;
    margin-bottom: 2.5rem;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
  }
  nav ul {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
  }
  nav ul li a{
    padding: 0.5rem 0rem 0.5rem 0rem;
    line-height: 2.5;
  }
  nav ul li {
    padding-right: 1.5rem;
  }
  nav ul a {
    color:white;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .tablet-nav-design {
    display:flex;
    align-items: center;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  .search-input {
    border: 1px solid lightgrey;
    width: 28rem;
  }
  
  
  
  /*------------leaderboard page-------------------*/
  .p-leaderboard {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .p-leaderboard-views {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: grey;
  }
  .photographer-profile-picture-leaderboard {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
  }



  /*----------images--------------*/
  .align-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex {
    max-width: 60rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
    width: 100%;
    height: auto;
  }
}




@media(min-width:1000px) {
  /*--------nav bar-----------*/
  nav ul li {
    padding-right: 2rem;
  }
  .search-input {
    width: 30rem;
  }
  
  /*--------------like button on image----------------*/
  .img-like {
    position: relative;
    bottom: 3rem;
    right: 13rem;
  }
  
  /*------------------------donate plans page---------------------*/
  .stripe-donate-plans-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15rem;
  }
  .donate-header {
    margin: 2rem 2rem 2rem 2rem;
  }
  
  
  
  /*--------------leaderboard page---------------*/
  .p-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
   .p-leaderboard {
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .p-leaderboard-views {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: grey;
  }
  .photographer-profile-picture-leaderboard {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
  }
  
  
  /*---------images----------*/
  .align-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .flex {
    max-width: 30rem;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  
  
  /*-----------profile page-------------*/
  .flex-profile {
    max-width: 20rem;
    margin: 0.5rem;
  }
  .profile-container {
    text-align: left;
    margin-left: 0.5rem;
  }
  label {
    margin-right: 0.5rem;
  }
  .p-profile {
    text-align: left;
    margin: 1.5rem 0rem 1.5rem 0rem;
  }
  .h2-profile {
    text-align: center;
    margin-top: 5rem;
  }
  .upload-form {
    margin: 2.5rem 0rem 2.5rem 0rem;
    text-align: center;
  }
  .align-row {
    display: flex;
  }
  .align-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
  }
  .border {
     border-bottom: 1px solid lightgrey;
     margin-top: 6rem;
     margin-bottom: -3rem;
  }
}



@media(min-width:1200px) {
  /*------------navbar-----------------*/
  nav ul li {
    padding-right: 3rem;
  }
  .search-input {
    width: 33rem;
    margin-left: 1rem;
  }
  .align-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .flex {
    max-width: 30rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    
  }
  
  
  
  /*---------login page---------------*/
  input {
    border-radius: 15px;
    width: 12rem;
    padding: 0.5rem;
  }
}



@media(min-width:1900px) {
  /*---------nav bar-------------*/
  nav ul li {
    padding-right: 5rem;
  }
  .search-button {
    padding: 0.4rem;
  }
  .search-input {
    width: 33rem;
  }
  
  
  
  /*---------login page---------------*/
  input {
    border-radius: 15px;
    width: 15rem;
    padding: 0.5rem;
  }
  
  
   /*--------leaderboard----------*/
  .h1 {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  
  
  
  /*-----------------images------------*/
  .align-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .flex {
    max-width: 39rem;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}


@media(min-width:2440px) {
  /*-----------nav bar-------------*/
  nav ul li {
    padding-right: 8rem;
  }
  .search-button {
    padding: 0.5rem;
  }
  .search-input {
    width: 35rem;
  }
  
  
  
  /*----------images----------*/
  .align-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .flex {
    max-width: 37rem;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}