<!DOCTYPE html> {% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  
  <!--Mobile Design Navigation-->
  <div class="bg">
    <div class='search-bar'>
      <form action="{% url 'search' %}" method="get">
        <input class="search-input" type="text" name="q" placeholder="search">
        <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
      </form>
    <div class="toggle">
      <a href="#">Menu</a>
    </div>
    </div>
    <nav class="hide-show">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'explore' %}">Explore</a></li>
        <li><a href="{% url 'leaderboard' %}">Leader Board</a></li>
         {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Sign In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  
  
   <!--Tablet and Desktop Design Navigation-->
  <div class="bg-tablet-desktop">
    <div class='search-bar'>
      <form action="{% url 'search' %}" method="get">
        <input class="search-input" type="text" name="q" placeholder="search">
        <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <nav class="tablet-nav-design">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'explore' %}">Explore</a></li>
        <li><a href="{% url 'leaderboard' %}">Leader Board</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Sign In</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <i class="far fa-copyright"></i> 2019
  </footer>
  <script src="{% static 'js/style.js' %}"></script>
</body>

</html>