{% extends 'base.html' %}

{% block title %}Profile | {{ user.full_name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2>Welcome to your profile {{ user.full_name }}!</h2>
<br>
<div class="img-container">
  <img src="{{MEDIA_URL}}{{user.profile_picture}}"></img>
</div>

<p>Introduction: {{ user.introduction }}</p>
<p><a href="{% url 'logout' %}">logout</a></p>

<form method='POST' enctype='multipart/form-data'>
  {{ form.as_p }} 
  {% csrf_token %}
  <button type="file">upload</button>
</form>

<h2>Your Portfolio, {{ user.full_name }}</h2>

{% for portfolio_post in portfolio_posts %}
<a href="{% url 'portfolio_detail_page' pk=portfolio_post.pk %}">
<div class="img-container">
  <img src="{{MEDIA_URL}}{{portfolio_post.picture}}"></img>
</div>
</a>
{% endfor %}

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a> |
<a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}