{% extends 'base.html' %}

{% block title %}Profile | {{ user.full_name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome to your profile {{ user.full_name }}!</p>
<br>
<div>
  <img src="{{MEDIA_URL}}{{user.profile_picture}}"></img>
</div>

<p>Introduction: {{ user.introduction }}</p>
<p><a href="{% url 'logout' %}">logout</a></p>

<form method='POST' enctype='multipart/form-data'>
  {{ form }} 
  {% csrf_token %}
  <button type="file">upload</button>
</form>

<h2>Your Portfolio</h2>
{% for picture in object_list %}
<div>
  <img src="{{MEDIA_URL}}{{Pictures.picture}}"></img>
</div>
{% endfor %}

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a> |
<a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}