{% extends 'base.html' %} {% block content %}
<div class="align-container">
    {% for image in nature %}
    <div class="flex">
        <a href="{% url 'detail_image' pk=image.pk %}">
            <div class="img-container">
                <img src="{{ MEDIA_URL }}{{ image.picture }}">
            </div>
        </a>
        <form class="img-like" data-likes="{{image.likes}}" data-id="{{image.id}}" action="{% url 'detail_image' pk=image.pk %}" method='POST'>
            {% csrf_token %}
            <button class="no-bg" type="submit"><i class="far fa-heart"></i>{{ image.likes }}</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}