{% extends 'base.html' %}
{% block content %}

<div class="align-container">
    {% for image in people %}
    <div class="flex">

        <div class="img-container">
                <a href="{% url 'detail_image' pk=image.pk %}">
                <img src="{{ MEDIA_URL }}{{ image.picture }}">
                </a>
            <form class="img-like" data-likes="{{image.likes}}" data-id="{{image.id}}" action="{% url 'detail_image' pk=image.pk %}" method='POST'>
                {% csrf_token %}
                <button class="no-bg" type="submit"><i class="far fa-heart"></i>{{ image.likes }}</button>
            </form>
        </div>
    </div>
    {% endfor %}
 </div>
 
 
{% if people.has_other_pages %}
  <ul class="pagination">
    {% if people.has_previous %}
      <li><a href="?page={{ people.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in people.paginator.page_range %}
      {% if people.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if people.has_next %}
      <li><a href="?page={{ people.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}